*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
 
  
}


.header {
  height: 15vh;
  margin-bottom: 5vh;
  color: rgb(253, 253, 253);
  background-color: rgba(95, 2, 15, 0.938);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
 
[type='text'] {
border-radius: 2%;
}


.container {
  justify-items: center;
 
  margin: 10vh  auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2vh;

  
}

video {
  border: 1px solid black;
  width: 20vw;
  
}

.irlanda {
  grid-column: 1;
  grid-row: 1;
}

.globulos {
  grid-column: 2;
  grid-row: 1;
}

.espaco {
  grid-column: 3;
  grid-row: 1;
}
.praia {
  grid-column: 4;
  grid-row: 1;
}

.timelapse {
  grid-column: 1;
  grid-row: 2;
}
.rabbit{
  grid-column: 2;
  grid-row: 2;
}
.sideral {
  grid-column: 3;
  grid-row: 2;
}
.future {
  grid-column: 4;
  grid-row: 2;
}

.footer {
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(95, 2, 15, 0.938);
  width: 101%;
  margin: -0% -1%;
  margin-bottom: -1%;
  height: 20vh;
  position: relative;;
  bottom: 0;
  margin-top: 2vh;
 

  
}

.footer p {
  color: rgb(253, 253, 253);
  margin: 2vh;
}


